include ../../common/index.pug

+layout('Типотека')
  +body({
    mod: 'nobackground',
    footerProps: {mod: 'padding'},
    noVendor: true,
  })
    +header({
      type: 'admin'
    })
    main.main-page.main-page--padding
      section.main-page__publication.publication
        h1.publication__title Комментарии
        ul.publication__list
          each myArticleComments, articleId in myComments
            each articleData in articles
              - currentArticleData
              if articleId === articleData.id
                - currentArticleData = articleData
                each myArticleComment in myArticleComments
                  +adminComment(currentArticleData, myArticleComment, currentUser)
