include ../../common/index.pug

+layout('Типотека')
  +body({
    mod: 'nobackground',
    footerProps: {mod: 'padding'},
    noVendor: true,
  })
    main.main-page.main-page--padding
      section.main-page__notes.notes
        h1.notes__title Мои записи
        ul.notes__list
          each articleData in articles
            +adminArticle(articleData)
