include ../../common/index.pug

+layout('Типотека')
  +body({
    mod: 'nobackground',
    footerProps: {mod: 'padding'},
    noVendor: true
  })
    +header({
      type: 'admin'
    })
    main.main-page.main-page--padding
      section.main-page__category.category
        h1.category__title Категории
        .category__add-form
          form(action='/my/categories' method='POST')
            input#add-form-add-category(type='text' name='label' placeholder='Новая категория')
            label(for='add-form-add-category')
              span.visually-hidden Добавить категорию
            button.category__button.button.button--category(type='submit') Добавить
          if errors
            each error in errors
              if !error.id
                p.comments__error= error.label
        ul.category__list
          each categoryData in categories
            +adminCategory(categoryData, errors)
