include ./utils/utils.pug

include ./components/hello-msg.pug
include ./components/no-articles-block.pug
include ./components/navigation-menu.pug
include ./components/admin-category.pug
include ./components/admin-article.pug
include ./components/admin-comment.pug
include ./components/themes-item.pug
include ./components/themes-list.pug
include ./components/article-item.pug
include ./components/article-comments-list.pug
include ./components/search-result.pug
include ./components/publication-card.pug
include ./components/hottest-articles.pug
include ./components/last-comments.pug
include ./components/articles-pagination.pug
include ./components/registration-form.pug
include ./components/login-form.pug
include ./components/article-form-fields.pug
include ./components/publications-list.pug
include ./components/last-comment.pug
include ./components/hottest-articles.pug

include ./main/styles.pug
include ./main/head.pug
include ./main/footer.pug
include ./main/header.pug
include ./main/layout.pug
include ./main/scripts.pug
