include ../../common/index.pug

+layout('post-page')
  +body({noVendor: true})
    +header({
      type: 'user'
    })
    main
      +postItem({post, categories, currentUser, comments, users, categoriesCount, errors})
