.header {
  z-index: 21;
}

.form__field--post-image {
  margin-bottom: 10px;
}

.new-publication__checkbox {
  padding: 20px 0;
}

.new-publication__form-link {
  margin-top: 10px;
  margin-bottom: 10px;
}

.button--edit-item {
  background: url(../img/icons/edit-btn.svg) no-repeat center;
  right: 45px;
  background-color: #bdbdbd;
}

.button--edit-item:hover {
  background-color: #2f80ed;
}

.pagination__item--active {
  pointer-events: none;
}

.header--error .header__enter,
.header--error .header__registration,
.header--error .header__search {
  display: inline;
}

.preview__toggle-wrapper {
  width: auto;
}

.preview__background-image {
  -o-object-fit: contain;
  max-height: 240px;
  object-fit: contain;
}

.preview__background {
  height: auto;
}

.preview__item {
  min-height: auto;
}

.preview__name-link {
  word-wrap: break-word;
}

.pagination {
  justify-content: center;
  max-width: 940px;
}

.hot__empty {
  margin-bottom: 0;
}

.hot__name {
  margin: 0 0 17px;
}

.search-page__list {
  height: 372px;
  overflow-y: scroll;
}
