mixin hottestPosts(posts, mostPopularPosts)
  section.main-page__hot.hot
    h2.hot__name
      | Самое обсуждаемое&nbsp;
      span.hot__icon.hot__icon--fire
    if mostPopularPosts.length === 0
      p.hot__empty Здесь пока ничего нет...
    else
      ul.hot__list
        each popularPost in mostPopularPosts
          - id = popularPost[0]
          - count = popularPost[1]
          each postData in posts
            if id === postData.id
              li.hot__list-item
                a.hot__list-link(href='#')= `${postData.title}`
                  sup.hot__link-sup= ` ${count}`
