include ./utils.pug
include ./head.pug
include ./footer.pug
include ./layout.pug
include ./header.pug
include ./scripts.pug

include ./admin-category.pug
include ./admin-post.pug
include ./admin-comment.pug
include ./themes-item.pug
include ./post-item.pug
include ./post-comments-list.pug
include ./search-result.pug
include ./publication-card.pug
include ./hottest-posts.pug
include ./last-comments.pug
include ./posts-pagination.pug
include ./sign-up.pug
include ./login.pug
