include ./utils/utils.pug

include ./components/navigation-menu.pug
include ./components/admin-category.pug
include ./components/admin-post.pug
include ./components/admin-comment.pug
include ./components/themes-item.pug
include ./components/post-item.pug
include ./components/post-comments-list.pug
include ./components/search-result.pug
include ./components/publication-card.pug
include ./components/hottest-posts.pug
include ./components/last-comments.pug
include ./components/posts-pagination.pug
include ./components/sign-up.pug
include ./components/login.pug

include ./main/styles.pug
include ./main/head.pug
include ./main/footer.pug
include ./main/layout.pug
include ./main/header.pug
include ./main/scripts.pug
