include ../../common/index.pug

- pageTitle = isNew ? 'Новая публикация' : 'Редактировать публикацию'
- saveBtnLabel = isNew ? 'Опубликовать' : 'Сохранить'
- action = isNew ? '/articles/add' : `/articles/article/edit/${article.id}`

+layout(pageTitle)
  +body({
    bodyAttrs: {style: "height: 1050px"},
    noFooter: true
  })
    main
      section.modal.modal--flex
        .popup.popup--new-publication.popup--flex
          .new-publication
            form(action=action method='POST' enctype='multipart/form-data')
              input(type='hidden' name='_csrf' value= csrf)
              .new-publication__header
                h1= pageTitle
                +dateField(article)
                button.new-publication__button.button.button--colored(type='submit')= saveBtnLabel
              button.popup__button.button.button--popup-close(type='button' aria-label='Закрыть окно') Закрыть окно
              .new-publication__form.form
                .form__wrapper.form__wrapper--intro
                  +titleField(article, errors)
                  +imageField(article, errors)
                  +categoriesField(article, categories)
                .form__wrapper.form__wrapper--text
                  +announceField(article, errors)
                  +sentencesField(article, errors)
        .modal__overlay
