include ../../common/index.pug

+layout('registration')
  +body({noVendor: true})
    +header({
      type: 'user'
    })
    main
      h1.visually-hidden Регистрация пользователя
      section.modal
        .popup.popup--registration
          button.popup__button.button.button--popup-close(type='button' aria-label='Закрыть окно') Закрыть окно
          h2.visually-hidden Форма регистрации
          ul.popup__tabs
            li.popup__tab.popup__tab--register(class=`${path === 'sign-up' ? 'popup__tab--active' : ''}`)
              button.popup__tab-switcher.button(type='button') Регистрация
            li.popup__tab.popup__tab--log-in(class=`${path === 'login' ? 'popup__tab--active' : ''}`)
              button.popup__tab-switcher.button(type='button') Войти
          +signUp(error)
          +logIn(error)
        .modal__overlay
