mixin adminArticle(article)
  li.notes__list-item
    +formattedDate(article.created_date, {class: 'notes__item-time'})
    a.notes__item-text(href=`/articles/article/${article.id}`)= article.title
    button.notes__button.button.button--close-item(type='button')
      span.visually-hidden Закрыть строку списка
