mixin lastComments(lastComments, users)
  section.main-page__last.last
    h2.last__name
      | Последние комментарии&nbsp;
      span.last__icon.last__icon--cloud
    if lastComments.length === 0
      p.last__empty Здесь пока ничего нет...
    else
      ul#last-list.last__list
        each comment in lastComments
          +lastComment({users, comment})
