mixin lastCommentUserInfo(user)
  if user
    img.last__list-image(src=user.avatarSmall width='20' height='20' alt='Аватар пользователя')
    b.last__list-name= `${user.lastName} ${user.firstName}`

mixin lastComment(props)
  - users = props.users
  - comment = props.comment
  li.last__list-item
    if props.preRendered
      +lastCommentUserInfo(props.user)
    else
      each user in users
        if comment.userId === user.id
          +lastCommentUserInfo(user)
    a.last__list-link(href=`/articles/article/${comment.articleId}`)
      +limitString(comment.comment, 100)
