mixin loginForm(errors)
  .popup__form.popup__form--active.form.form--log-in
    form(action='/login' method='POST')
      input(type='hidden' name='_csrf' value= csrf)
      .form__field
        label
          input(type='email' name='email' placeholder='Электронная почта' required)
      +getError(errors, 'email')
      //- if errors
      //-   p.form__error-message Некоторая ошибка произошла, беда!
      .form__field
        label
          input(type='password' name='password' placeholder='Пароль' required)
      +getError(errors, 'password')
      button.form__submit-btn.form__submit-btn--log-in.button.button--colored(type='submit') Войти
