mixin logIn(error)
  .popup__form.popup__form--hidden.form.form--log-in
    form(action='#' method='GET')
      .form__field
        label
          input(type='email' placeholder='Электронная почта' required)
      if error
        p.form__error-message Некоторая ошибка произошла, беда!
      .form__field
        label
          input(type='password' placeholder='Пароль' required)
      button.form__submit-btn.form__submit-btn--log-in.button.button--colored(type='submit') Войти
