- navItem_1 = { url: "/my/articles", label: "Мои записи" }
- navItem_2 = { url: "/my/categories", label: "Мои категории" }
- navItem_3 = { url: "/my/comments", label: "Мои комментарии" }
- navigationItems = [navItem_1, navItem_2, navItem_3]

mixin navigationMenu
  .header__dropdown
    a.button.button--burger.header__burger Открыть меню
    ul.navigation.header__navigation
      each item in navigationItems
        li.navigation__item
          a(href=item.url)= item.label
