mixin head(title)
  base(href='/')
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width,initial-scale=1')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title= title
  link(rel='preload' href='./fonts/Inter-Regular.woff2' as='font' crossorigin='anonymous')
  link(rel='preload' href='./fonts/Inter-Medium.woff2' as='font' crossorigin='anonymous')
  link(rel='preload' href='./fonts/SFProDisplay-Regular.woff2' as='font' crossorigin='anonymous')
  +styles()
