mixin body({mod = '', bodyAttrs = {}, colored = false, noFooter = false, footerProps = {}, noVendor = false})
  - wrapperClassName
  if colored
    - wrapperClassName = 'wrapper-color'
  else
    - wrapperClassName = `wrapper ${mod ? ` wrapper--${mod}` : ''}`
  body&attributes(bodyAttrs)
    div(class=wrapperClassName)
      +header({currentUser, error})
      if block
        block
      if !noFooter
        +footer(footerProps)
    +scripts({ noVendor })

mixin layout(tabTitle)
  doctype html
  html(lang='ru')
    +head(tabTitle)
    if block
      block
