include ../../common/index.pug

+layout('Типотека')
  +body({noVendor: true})
    main.main-page
      +helloMsg
      if articles.length
        +themesList(categories, categoriesCount, true)
        +publicationsList(articles, comments, categories, pagesCount, activePage, activeCategoryId, true)
      else
        +noArticlesBlock
