include ../../common/index.pug

+layout('Типотека')
  +body({noVendor: true})
    main.main-page
      +helloMsg
      if articles.length
        +themesList(categories, categoriesCount)
        .main-page__section-flex.main-page__section-flex--short
          +hottestArticles(mostPopularArticles)
          +lastComments(lastComments, users)
        +publicationsList(articles, comments, categories, pagesCount, activePage, activeCategoryId)
      else
        +noArticlesBlock
