include ../../common/index.pug

+layout('Типотека')
  +body({noVendor: true})
    - socketVersion = NODE_ENV === 'production' ? 'slim' : 'dev'
    script(src=`js/vendors/socket.io.${socketVersion}.js`)
    script(src='js/socket.js')
    main.main-page
      .current-page-readers
      +helloMsg
      if articles.length
        +themesList(categories, categoriesCount)
        .main-page__section-flex.main-page__section-flex--short
          +hottestArticles(mostPopularArticles)
          +lastComments(lastComments, users)
        +publicationsList(articles, comments, categories, pagesCount, activePage, activeCategoryId)
      else
        +noArticlesBlock
