include ../../common/index.pug

+layout('Типотека')
  +body({noVendor: true})
    +header({
      type: 'user'
    })
    main.main-page
      h1.visually-hidden Главная страница личного блога Типотека
      p.

        Это приветственный текст, который владелец блога может выбрать, чтобы описать себя 👏
      if articles.length
        section.main-page__theme-list
          h2.visually-hidden Список тем
          ul.themes
            each categoryData in categories
              +themesItem(categoryData, categoriesCount)
        .main-page__section-flex.main-page__section-flex--short
          +hottestArticles(mostPopularArticles)
          +lastComments(lastComments, users)
        section.main-page__list.preview
          h2.visually-hidden Список превью статей
          ul.preview__list
            each articleData in articles
              +publicationCard(articleData, comments, categories)
          if pagesCount > 1
            +articlesPagination(activePage, pagesCount)
      else
        .main-page__empty-wrapper
          p.main-page__empty-text Здесь пока пусто!
