include ../../common/index.pug

- isSearchResultEmpty = !searchResults || (searchResults && !searchResults.length);
- emptyWrapperClass = (query && isSearchResultEmpty) ? 'search-page__wrapper--empty' : '';

+layout('Типотека')
  +body({
    colored: true,
    noVendor: true
  })
    main
      section.search-page
        //- add class fixes long list
        .search-page__wrapper(class=emptyWrapperClass)
          h1 Поиск
          .search.search-page__form
            form(action=`/search` method='GET')
              input(type='hidden' name='_csrf' value= csrf)
              label
                input(name='query' type='text' placeholder='Что ищем?' value=`${query || ''}`)
              button.search__button.button.button--transparent(type='submit') Найти
            if !isSearchResultEmpty
              .search-page__list
                each resultItem in searchResults
                  +searchResult(resultItem)
          if query && isSearchResultEmpty
            p.search-page__empty Ничего не нашлось
