include ../../common/common.pug

+layout('Типотека')
  +body({
    mod: 'nobackground',
    footerProps: {mod: 'padding'},
    noVendor: true,
  })
    +header({
      type: 'admin'
    })
    main.main-page.main-page--padding
      section.main-page__publication.publication
        h1.publication__title Комментарии
        ul.publication__list
          each myPostComments, postId in myComments
            each postData in posts
              - currentPostData
              if postId === postData.id
                - currentPostData = postData
                each myPostComment in myPostComments
                  +adminComment(currentPostData, myPostComment, currentUser)
